# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# IDE settings
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/

# Local development settings
*.log
.env